%html(ng-app="Herbs" )
  %head
    %title Lifplanner
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand(href="/") Lifplanner
          .container.nav-collapse
            %ul.nav
              %li=link_to "Herbalism Lists", herbalism_lists_path
              %li= link_to "Link2", "/path2"
              %li= link_to "Link3", "/path3"
    #main= yield
